.header {
  background-color: var(--header);
  padding: 20px 0;
}
.header_logo {
  margin: 0 0 0 10px;
}

.header_container {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
